<!DOCTYPE html>
<html>
    <head>
        <title>Регистрация</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}/static/article.css">
    </head>
    <body>
        <div class="content">
            <h1>Регистрация</h1>
            <form method="POST">{% csrf_token %}
<label for="text">Логин:</label><br>
<input type="text" name="username" placeholder="Введите логин" value="{{ form.username }}"><p>
<label for="email">Email:</label><br>
<input type="text" name="email" placeholder="Введите e-mail" value="{{ form.title }}"><p>
<label for="password">Пароль:</label><br>
<input type="password" name="text" placeholder="Введите пароль"value="{{ form.text }}"></p>
               <input type="submit" value="Зарегистрироваться">
          </form>
          {{ form.errors }}
        </div>
    </body>
</html>
